#! /usr/bin/env python2.7

# Wiki login details
username = 'MyBot'
password = 'mybotspassword'
apiurl = 'http://meta.wikipedia.org/w/api.php'
indexurl = 'http://meta.wikipedia.org/w/index.php'

# db details
host = 'metawiki.labsdb'
dbname = 'mybotdb'
defaultcnf = '/home/labsusername/.my.cnf'

# edit default settings
namespace = 'Grants:'
editsumm = 'automatic edits by [[User:HostBot|HostBot]]'