{
    "categories": {
        "ideas": {
            "all": "Category:IdeaLab/Ideas/IdeaLab",
            "skills": [
                "Category:IdeaLab/Ideas/Developer/Wanted",
                "Category:IdeaLab/Ideas/Designer/Wanted",
                "Category:IdeaLab/Ideas/Community organizer/Wanted",
                "Category:IdeaLab/Ideas/Researcher/Wanted",
                "Category:IdeaLab/Ideas/Project manager/Wanted"
            ],
            "topics": [
                "Category:IdeaLab/Ideas/Gender gap",
                "Category:IdeaLab/Ideas/Global south"
            ]
        },
        "people": {
            "all": "Category:IdeaLab members",
            "optout": "Category:No GrantsBot recommendations please",
            "skills": [
                "Category:IdeaLab members with programming experience",
                "Category:IdeaLab members with design experience",
                "Category:IdeaLab members with community organizing experience",
                "Category:IdeaLab members with research experience",
                "Category:IdeaLab members with project management experience"
            ],
            "topics": [
                "Category:Interested in gender gap grant ideas",
                "Category:Interested in global south grant ideas"
            ]
        }
    },
    "dbinfo": {
        "dbname": "DATABASENAME",
        "host": "DATABASEHOST",
        "username": "DATABASEUSERNAME",
        "password": "DATABASEPASSWORD"
    },
    "defaultmentorprofile": "Wikipedia:Co-op/DEFAULT",
    "greetings": {
        "section": "Ideas!",
        "greeting": "Welcome to the IdeaLab, [[User:{0}|{0}]]! Here are some ideas that you may want to check out:\n{1}Take a look and endorse them, help improve them, or spread the word. --~~~~"
    },
    "login": {
        "password": "YOURBOTPASSWORD",
        "protocol": "https",
        "site": "meta.wikimedia.org",
        "useragent": "MatchBot, based on mwclient v0.7.2dev. Run by User:YOURNAME, YOUREMAIL",
        "username": "YOURBOTNAME"
    },
    "pages": {
        "main": "Grants:IdeaLab",
        "talk": "Grants talk:IdeaLab"
    },
    "help": "Please see README.md for information on this configuration file."
}
